.container {
    max-width: 400px;
    margin: auto;
    padding: 200px 12px;
    }

.container--result {
    margin:auto;
    line-height: 50px;
    background: #9ae7f5cc;
    font-size: 20px;
    padding: 12px;
    border-radius: 5px;
}