.form__labelText {
    width: 100%;
    max-width: 170px;
    display: inline-block;
    margin: 5px;
}

.form__field {
    margin: 15px;
    border: 2px solid #64eef3cc;
    padding: 5px 5px;
    width: 20%;
    min-width: 100px;
    border-radius: 5px;
}

.form__field:required {
    background-color: #f5d8d8cc;
}

.form__fieldset {
    background-color: #f5d8d754;
    border: 2px solid #46b4a2cc;
    padding: 20px;
    border-radius: 5px;
}
